<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reminder.name %>
</p>

<p>
  <strong>Comments:</strong>
  <% if @reminder.comments.empty? %>
    No Comments
  <% else %>
    <%= @reminder.comments %>
  <% end %>
</p>

<p>
  <strong>Completed:</strong>
  <% if @reminder.completed %>
    <i class="fa fa-thumb-up"></i>
  <% else %>
    <i class="fa fa-thumbs-down"></i>  
  <% end %>
</p>

<p>
  <strong>Notify datetime:</strong>
  <%= @reminder.notify_datetime %>
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
