<%= form_for(current_user, :as => current_user, :url => registration_path(current_user), :html => { :multipart => true }) do |f| %>
  <%= devise_error_messages! %>


  <% if devise_mapping.confirmable? && current_user.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= current_user.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>


  <div><%= f.label :phone_number %><br />
  <%= f.text_field :phone_number %></div>

  <div><%= f.label :skype %><br />
  <%= f.text_field :skype %></div>

  <div><%= f.label :timezone %><br />
  <%= f.text_field :timezone %></div>



  <!-- <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

  <!-- <p>
    <%= f.check_box :is_tutor %>
    <%= f.label :is_tutor, 'Tutor' %>
  </p> -->

   <!--  <div>
        <%= f.fields_for :tutor do |builder| %>
        <fieldset>
            <%= builder.label :description, 'Description' %><br />
            <%= builder.text_area :description %><br />
            <%= builder.check_box :_destroy %>
            <%= builder.check_box :_destroy, 'Remove description' %>
        </fieldset>
        <% end %>
    </div>

    <br />
  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div> -->

  <div><%= f.submit "Update" %></div>
<% end %>



<script type="text/javascript">
$(document).ready(function(){
  var timezone = jstz.determine();
  console.log(timezone.name()); 
});
</script>